extends ../components/_layout

block title
	title ホーム画面

block css
	link(rel="stylesheet", href="/css/tweet.css")

block script
	script(src="/js/tweet.js")

block main
	section.form-area
		.inner
			form#postForm(method="POST", action="/tweet")
				textarea#tweet(name="tweet", rows="4")
				input(type="submit", name="btn", value="送信")
	main
		section.tweet
			.inner
				section.post-area
					ul.post-list
						// １ページ分取得した投稿数
						- var range = tweets.length
						- for ( var i = 0; i < range; i++ ) {
							li.post-item
								p.post
									span.post-user: a(href="#") #{tweets[i].name}
									| #{tweets[i].tweet}
									br
									| #{tweets[i].id}
						- }

						// 総投稿数と取得件数が一致しない時にはページネーションを出さない
						// TODO:現在postsLengthには総投稿数が入っている(ユーザー別などは未対応)
						if postsLength !== tweets.length

							- var index = page || 1;

							ol.pagination
								- for ( var i = 0; i < Math.ceil( postsLength / 10 ) ; i++ ) {
									if i + 1 == index
										// 現在のページと一致するときはリンクを付けない
										li.page: span.page-link #{i + 1}
									else
										// 通常はリンクを付ける
										li.page: a.page-link(href="/tweet/user/page/#{i + 1}/") #{i + 1}
								- }

				include ../components/_side